@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

.bg-purple {
    background-color: $purple !important;
}
.bg-purple-light {
    background-color: $purple-200 !important;
}
.bg-pink {
    background-color: $pink !important;
}
.bg-intense-red {
    background-color: $red-700 !important;
}